@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  --fs16: 14px;
  --primary-red: #fa0400;
}

body {
  font-family: var(--font-jakarta), system-ui, -apple-system, sans-serif;
  font-size: var(--fs16);
  line-height: 1.6;
  background-color: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overscroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.text_primary {
  color: var(--primary-red);
}

.bg_primary {
  background-color: var(--primary-red);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee2 {
  animation: marquee 20s linear infinite;
}
